<h2 mat-dialog-title style="font-weight: 500; font-size: x-large; margin-bottom: 1em;">Resumen de la venta</h2>

<form [formGroup]="ventaForm" (ngSubmit)="submitVenta()" novalidate>
  <!-- Linea de detalle -->
  <div>
    <h3 class="style-subtitle-h3">1. Productos seleccionados</h3>

    @if (listItems.length != 0){
    <div>
      @for (item of listItems; track $index) {
      <div class="flex-space">
        <div>
          <h3>{{item.producto.producto?.nombre}}</h3>
          <p>{{item.cantidad}} x <b style="color: #e4bb27;">{{item.producto.producto?.precio |
              currency:'CRC':'&#8353;':'1.0-0'}}</b> =
            {{item.subtotal | currency:'CRC':'&#8353;':'1.0-0'}}</p>
        </div>

        <div class="divEliminarBtn">
          <button type="button" matMiniFab class="style-EliminarBtn" aria-label="Eliminar producto"
            (click)="deleteItem(item.producto.productoId)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      }
    </div>
    } @else{
    <h3 class="label-Carrito-Vacio">¡Agrega productos para hacer una venta!</h3>
    }
  </div>

  <!-- Area de descuentos -->
  <div>
    <h3 class="style-subtitle-h3">2. Aplicar descuento</h3>
    <div class="divTable style-tabla-costos" style="margin: 0em;">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell">
            <h3>Descuento aplicado</h3>
          </div>
          <div class="divTableCell">{{labelPromociones()}}</div>
        </div>
      </div>
    </div>

    @if (prom10k()) {
      <app-form-desc3prods></app-form-desc3prods>
    }
  </div>

  <!-- Area de costos -->
  <div>
    <h3 class="style-subtitle-h3">3. Costo final</h3>
    <div class="divTable style-tabla-costos" style="margin: 0em;">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell">
            <h3>Total</h3>
          </div>
          <div class="divTableCell">{{subtotalFinal().toString() | currency:'CRC':'&#8353;':'1.0-0'}}</div>
        </div>
      </div>
    </div>
  </div>

  @if (listItems.length != 0){
  <!-- Metodos de pago -->
  <div style="margin-bottom: 2.5em;">
    <h3 class="style-subtitle-h3" style="margin-bottom: 2em;">4. Seleccionar método de pago</h3>

    <mat-radio-group formControlName="rdbgMetodoPago" class="flex-space3" [(ngModel)]="metodoPago">
      <mat-radio-button id="rdbEfectivo" value="EFECTIVO">
        <img src="\images\icons\dinero-en-efectivo.png" /> <br>Efectivo
      </mat-radio-button>
      <mat-radio-button id="rdbTarjeta" value="TARJETA">
        <img src="\images\icons\tarjeta-bancaria.png" /> <br>Tarjeta crédito/débito
      </mat-radio-button>
    </mat-radio-group>

    @if (errorHandling('rdbgMetodoPago')) {
    <mat-error class="radio-error">{{errorHandling( 'rdbgMetodoPago')}}</mat-error>
    }

    <!-- Si selecciona efectivo se habilita esta parte -->
    @if (metodoPago() == "EFECTIVO") {
    <div class="container-Efectivo">
      <app-dialog-pagar-efectivo></app-dialog-pagar-efectivo>
    </div>
    }
  </div>

  <button type="submit" matButton
  class="style-Btn" style="background-color: #ffdc5c; margin-top: 0.5em;">
    Procesar pago
  </button>
  }

</form>