<div class="mat-elevation-z8" style="margin: 1em 0em 2em">
  <h1>Mantenimiento de ventas</h1>
  @if (data && dataLength > 0) {
  <div class="flexSpace">
    @for (item of data; track $index) {
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="style-TitleCard">Número de venta #{{item.id}}</mat-card-title>
        <mat-card-subtitle class="style-SubtitleCard">Fecha de creación: {{item.fechaString}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><b>Colaborador: </b>{{item.usuario.nombre}}</p>
        <p><b>Evento: </b>{{item.evento.nombre}}</p>
        <p><b>Método de pago: </b>{{item.metodo_pago}}</p>
        <p><b>Descuento: </b>{{item.descuento}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="style-BtnConsultar" matButton (click)="goDetailVenta(item.id)">Consultar venta</button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
  }@else{
  <h1 style="margin-top: 3em;">Ahora mismo no hay ventas registradas</h1>
  <h2>¡Realiza tu primera venta para ver la lista!</h2>
  }
</div>