.addProduct-button {
    width: 25%;
    margin: 1em 0em;
    padding: 0.5em 0em;
    background-color: #fcfcfc;
    border-radius: 0.5em;
    color: #d52f97;
    border-color: #d52f97;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    gap: 0.5em;
    transition: background-color 0.3s ease;
}

.addProduct-button:hover {
    background-color: #d52f97;
    color: #fcfcfc;
}


/* Estilo Tabla */
.Estilo-Tabla {
    width: 85em;
    height: auto;
    background-color: white;
}

.Estilo-Tabla tr th,
.Estilo-Tabla tr td {
    border: solid black 0.1em;
    border-color: #d72b2b;
}

.Estilo-Tabla tr th {
    background-color: #d72b2b;
    color: white;
    text-align: center;
}

.Estilo-Tabla tr td {
    text-align: center;
    padding: 1em 2em;
}

.Estilo-Tabla tr:nth-child(odd) {
    background-color: #f3adad;
}

.Estilo-Tabla tr:nth-child(even) {
    background-color: #ee9595;
}

mat-paginator,
span {
    font-size: medium;
}

/* Estilo btns */
.Estilo-Btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.Estilo-BtnConsultar,
.Estilo-BtnEliminar,
.Estilo-BtnEditar,
.Estilo-BtnDesactivar {
    border: solid black 1px;
    border-radius: 2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.Estilo-BtnConsultar:hover {
    background-color: #00876c;
}

.Estilo-BtnEliminar:hover {
    background-color: #c81717;
}

.Estilo-BtnEditar:hover {
    background-color: #b624da;
}

.Estilo-BtnDesactivar:hover {
    background-color: #656565;
}


.Estilo-BtnConsultar:hover p,
.Estilo-BtnConsultar:hover mat-icon,
.Estilo-BtnEliminar:hover p,
.Estilo-BtnEliminar:hover mat-icon,
.Estilo-BtnEditar:hover p,
.Estilo-BtnEditar:hover mat-icon,
.Estilo-BtnDesactivar:hover p,
.Estilo-BtnDesactivar:hover mat-icon {
    color: white;
}
