<div>
  <h2 mat-dialog-title style="font-weight: 500;">{{isCreate ? "Crear usuario" : "Actualizar usuario"}}</h2>
  <form [formGroup]="userCreate" (ngSubmit)="submitForm()" novalidate>
    <mat-dialog-content>
      <div class="form-container">
        <div>
          <mat-form-field class="style-input" floatLabel="auto">
            <mat-label>Nombre del usuario</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Nombre completo" />
            @if (errorHandling('nombre')) {
            <mat-error>{{ errorHandling('nombre') }}</mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="style-input" floatLabel="auto">
            <mat-label>Correo electrónico</mat-label>
            <input type="text" matInput formControlName="email" placeholder="ejemplo@gmail.com" />
            @if (errorHandling('email')) {
            <mat-error>{{ errorHandling('email') }}</mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="style-input" floatLabel="auto">
            <mat-label>Teléfono</mat-label>
            <input type="tel" matInput formControlName="telefono" placeholder="12345678" />
            @if (errorHandling('telefono')) {
            <mat-error>{{ errorHandling('telefono') }}</mat-error>
            }
          </mat-form-field>
        </div>

        @if (isCreate) {
        <div>
          <mat-form-field class="style-input" floatLabel="auto">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Contraseña"
              autocomplete="new-password" />
            @if (errorHandling('password')) {
            <mat-error>{{ errorHandling('password') }}</mat-error>
            }
          </mat-form-field>
        </div>
        }

        <div class="flexspace">
          <button type="submit" matButton class="btnGuardar" style="height: 3.5em;">
            <mat-icon class="mat-18">{{ isCreate ? 'add_circle' : 'save' }}</mat-icon>
            {{ isCreate ? 'Crear' : 'Actualizar' }}
          </button>

          @if (!isCreate) {
          <button type="button" matButton class="btnGuardar" (click)="onReset()" style="height: 3.5em;">
            <mat-icon class="mat-18">cancel</mat-icon>
            Cancelar
          </button>
          }
        </div>
      </div>
    </mat-dialog-content>
  </form>

</div>