mat-toolbar {
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    background-color: #f9c307;
}

.header-image {
    background-image: url("../../../../public/images/Logo\ transparente\ v2.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    object-fit: cover;
}

.style-BtnNavBar {
    width: auto;
    background-color: #f1d059;    
    border: 1px solid black;
    font-size: large;
    font-weight: bold;
}

.style-Icons-Large {
    font-size: larger;
    padding-right: 0.2em;
}

.flex-betweenV1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
