<div class="mat-elevation-z8" style="margin: 1em 0em 2em">
  <h1 style="margin-bottom: 1em;">Asignar productos a colaboradores</h1>
  <div class="div-BtnCrear">
    <button class="style-BtnCrear" matButton (click)="goAsignarCreate()">Asignar producto a un colaborador</button>
  </div>

  @if (data && dataLength > 0) {
  <div class="flexSpace">
    @for (item of data; track $index) {
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="style-TitleCard">Producto asignado: {{item.producto.nombre}}</mat-card-title>
        <mat-card-subtitle class="style-SubtitleCard">Cantidad: {{item.cantidad}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><b>Colaborador: </b>{{item.usuario.nombre}}</p>
        <p><b>Evento: </b>{{item.evento.nombre}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="style-BtnActualizar" matButton (click)="goAsignarUpdate(item)">Actualizar</button>        
      </mat-card-actions>
    </mat-card>
    }
  </div>
  }@else {
  <h1 style="margin-top: 3em;">Ahora mismo no hay productos asignados a colaboradores</h1>
  <h2>¡Asigna un producto a un colaborador para ver la lista!</h2>
  }
</div>