html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.ToolBar-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
    margin: 0;
    padding: 0;
}

.body-container {
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3em 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
}

.background-img {
    width: 100%;
    min-height: 100%;
    background-image:
        linear-gradient(
            #ffffffb3,
            #ffffffb3
        ),
        url("../../public/images/Logo\ transparente\ mini\ v2.png");

    background-repeat: repeat;
    background-position: center;
    background-size: auto;
}

.flex-space {
    display: flex;
    width: 100%;
    min-width: 0;
}

.menu-container {
    height: 100vh;
    min-height: 100vh;
}

.sideMenu-container {
    text-align: center;
    background-color: #fff7df;
    height: 100%;
}

.sidenav-content {
    height: 100vh;
    min-height: 100vh;
    border-right: 1px solid black;
    background-color: #fbdb6b;
}

.sidenav-content button {
    margin: 1.5em 0;
}


img {
    max-width: 100%;
}

table {
    max-width: 100%;
}

@media (max-width: 1200px) {

    .menu-container,
    .sidenav-content {
        height: 100vh;
        min-height: 100vh;
    }

    .body-container {
        width: 100%;
        margin: 0;
        padding: 2em 0;
    }

    .background-img {
        background-repeat: repeat;
    }
}

@media (max-width: 768px) {

    .body-container {
        padding: 1.5em 0;
        margin: 0;
    }

    .menu-container,
    .sidenav-content {
        height: auto;
        min-height: 100vh;
    }

    .background-img {
        background-repeat: repeat;
        background-position: center;
    }
}



@media (max-width: 480px) {

    .body-container {
        padding: 1em 0;
        margin: 0;
    }

    .sidenav-content button {
        margin: 1em 0;
    }
}